html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Webpack app
    body
        .app-root
            ul#messages.messages
            form#chat-form.chat-form
                div
                    input#message-input(placeholder='введите сообщение')
                button(type=submit) Отправить
